.kolona{


width: 900px;
margin: 0px auto;
height:auto;


}

.zaglavlje {
    border-bottom: 2px solid red;

}

.stranica{
    
    height:100vh;
    margin: 0px;
}



#zaglavlje{

    display: flex;
    
    

}

#logo-holder{
    flex-grow: 1;
}

#drustvene-mreze{
    flex-grow: 1;
    text-align: right;
    padding-top: 5px;
}

#meni{
    display: flex;
}



#meni a {
    flex-grow: 1;
    text-decoration: none;
    color: red;
    text-align: center;
    font-size: 16pt;
    transition: 400ms;
    padding: 8px;
}

#meni a:hover,
#meni a.active{
    background-color: red;
    color: white;
}

#drustvene-mreze a{
    
    margin:5px;
    text-decoration: none;
}

#drustvene-mreze img{
    height: 40px;
    width: 40px;
    margin:5px 10px;
}

body {
    margin: 0px;
    padding: 0px;
}

#Pocetna{
    background: url(grafika/pozadine/bg01.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0px;
    text-align: center;
    color: white;
}

#usluge{
    background: url(grafika/pozadine/bg02.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#karijera{
    background: url(grafika/pozadine/bg03.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#Pocetna h1{
    margin-top: 0px;
    padding-top: calc(50vh - 220px);
    font-weight: bold;
    font-size: 48pt;
}

.dark-box{
    background-color: rgba(37, 35, 35, 0.753);
    border: 1px solid white;
    padding: 30px;
    font-size: 18pt;
}

#logo-holder img{
    width: 300px;
    height: 150px;
}

#O-nama{
    text-align: center;

}

#O-nama h2{
    padding-top: 40px;
}

.krugovi {
    display: flex;
    margin: 50px 0px;
    

}

.Krug-holder {
    flex-grow: 1;
    display: inline-block;
}

.oznaka {
    font-weight: bold;

}

.krug {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 25%;
    height: 40px;
    width: 40px;
    font-size: 34pt;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 15px;
}

.tehnologije
{
    display: flex;
    margin: 50px 0px;
}

.tehnologija{
    flex-grow: 1;
    font-weight: bold;

}

.tehnologija img{
    width: 48px;
    height: 48px;
}