.kolona{


width: 900px;
margin: 0px auto;
height:auto;


}

.zaglavlje {
    border-bottom: 2px solid red;

}

.stranica{
    
    height:100vh;
    margin: 0px;
}



#zaglavlje{

    display: flex;
    
    

}

#logo-holder{
    flex-grow: 1;
}

#drustvene-mreze{
    flex-grow: 1;
    text-align: right;
    padding-top: 5px;
}

#meni{
    display: flex;
}



#meni a {
    flex-grow: 1;
    text-decoration: none;
    color: red;
    text-align: center;
    font-size: 16pt;
    transition: 400ms;
    padding: 8px;
}

#meni a:hover,
#meni a.active{
    background-color: red;
    color: white;
}

#drustvene-mreze a{
    
    margin:5px;
    text-decoration: none;
}

#drustvene-mreze img{
    height: 40px;
    width: 40px;
    margin:5px 10px;
}

body {
    margin: 0px;
    padding: 0px;
}

#Pocetna{
    background: url(grafika/pozadine/bg01.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin-top: 0px;
    text-align: center;
    color: white;
}

#usluge{
    background: url(grafika/pozadine/bg02.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#karijera{
    background: url(grafika/pozadine/bg03.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#Pocetna h1{
    margin-top: 0px;
    padding-top: calc(50vh - 220px);
    font-weight: bold;
    font-size: 48pt;
}

.dark-box{
    background-color: rgba(37, 35, 35, 0.753);
    border: 1px solid white;
    padding: 30px;
    font-size: 18pt;
}

#logo-holder img{
    width: 300px;
    height: 150px;
}

#O-nama{
    text-align: center;

}

#O-nama h2{
    padding-top: 40px;
}

.krugovi {
    display: flex;
    margin: 50px 0px;
    

}

.Krug-holder {
    flex-grow: 1;
    display: inline-block;
}

.oznaka {
    font-weight: bold;

}

.krug {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 25%;
    height: 40px;
    width: 40px;
    font-size: 34pt;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 15px;
}

.tehnologije
{
    display: flex;
    margin: 50px 0px;
}

.tehnologija{
    flex-grow: 1;
    font-weight: bold;

}

.tehnologija img{
    width: 48px;
    height: 48px;
}

#usluge {

    text-align: center;
    color: white;
    
}

#usluge h2{
    padding-top: 100px;
    font-size: 32pt;
}

.red-usluga{

    display: flex;
    margin-bottom: 40px ;
    justify-content: space-between;

}

.red-usluga > div {

    width: 250px;
    height: 150px;
    position: relative;
    border: 1px solid white;

}

.red-usluga > div > img{

    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

}

.red-usluga > div > p{

    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 6px;
    margin-bottom: 0px;
    background-color: rgba(255, 255, 255, 0.671);
    color: black;
    font-weight: bold;
    border-top: 1px solid white;
    font-size: 13pt;


}

#proizvodi h2{
    padding-top: calc(50vh - 340px);
    padding-bottom: 35px;
    text-align: center;
    font-size: 26pt;

}

.proizvodi {
    margin-top: 45px;
    display: grid;
    grid-template: "a b c"
                   "d b e"
                   "f f g"   ;
    justify-content: space-between;
    align-content: space-between;
    
    height: 500px;
    width: 800px;
    margin: 0px auto;

}

.proizvod {
    display: grid;
    grid-template: "slika";
    justify-content: stretch;
    align-content: stretch;
    border: 1px solid rgba(255, 0, 0, 0.377);

}

.proizvod img {
    grid-area: slika;
    justify-self: stretch;
    align-self: stretch;
}

.text {
    grid-area: slika;
    justify-self: stretch;
    align-self: stretch;
    display: grid;
    justify-content: space-around;
    align-content: space-around;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 0, 0.678);
    font-weight: bold;
    font-size: 24pt;
    opacity: 0;
    transition: 400ms;

}

.proizvod:hover .text {
    opacity: 1;
}



#Proizvod-A {
    grid-area: a;

    height: 150px;
    width: 250px;
}

#Proizvod-B {
    grid-area: b;

    height: 325px;
    width: 250px;
}

#Proizvod-C {
    grid-area: c;

    height: 150px;
    width: 250px;
}

#Proizvod-D {
    grid-area: d;

    height: 150px;
    width: 250px;
}

#Proizvod-E {
    grid-area: e;

    height: 150px;
    width: 250px;
}

#Proizvod-F {
    grid-area: f;

    height: 150px;
    width: 525px;
}

#Proizvod-G {
    grid-area: g;

    height: 150px;
    width: 250px;
}